### Creating Text file

In [1]:
f = open('text.txt','w')

### Writtng in file

In [10]:
f = open('text.txt','w')
f.write('thses is test file ')
f.close()

In [12]:
f = open('text.txt','a')
f.write('\nmy name is harishali \n I am 22 yers old')
f.close()

### reading of file

In [14]:
f = open('text.txt','r')
f.read()

'thses is test file my name is harishali \n I am 22 yers old\nmy name is harishali \n I am 22 yers old'

In [16]:
f = open('text.txt','r')
f.read(10)

'thses is t'

### read file line by line

In [19]:
f = open('text.txt','r')
f.readline()

'thses is test file my name is harishali \n'

In [22]:
f = open('text.txt','r')
f.seek(5)
f.readline()

' is test file my name is harishali \n'

In [23]:
f = open('text.txt','r')

for i in f:
    print(i)

thses is test file my name is harishali

 I am 22 yers old

my name is harishali

 I am 22 yers old

### create multiple copies of  file

In [40]:
import shutil
shutil.copy('text.txt', 'copy.txt')

'copy.txt'

In [42]:
with open('copy.txt' ,'r') as f:
    print(f.read())

thses is test file my name is harishali
 I am 22 yers old
my name is harishali
 I am 22 yers old

### deleating of thse file

In [45]:
import os
os. remove ('copy.txt')

# JOSN

## create json file

In [9]:

import json

data = {
    'name': 'sudh',
    'mail_id': 'sudh@gmail.com',
    'phone_no': 9119501731,
    'subject': ['DS', 'DA']
}

with open('Data.json', 'w') as f:
    json.dump(data, f)

### read json file

In [11]:
import json

with open('Data.json', 'r') as f:
    data1 = json.load(f)

print(data1)

{'name': 'sudh', 'mail_id': 'sudh@gmail.com', 'phone_no': 9119501731, 'subject': ['DS', 'DA']}

In [12]:
data1['subject']

['DS', 'DA']

In [13]:
data1['subject'][1]

'DA'

# csv file

In [14]:
data = [['name','email_id','phone_number'],
       ['sudh','sudh@gmail.com' ,46575869],
       ['krish','krish@gmail.com',3465746]]

In [17]:
## createing csv file 

import csv

with open ('data.csv','w') as f:
    writer = csv.writer(f)
    
    for i in data:
        writer.writerow(i)

In [27]:
## read thse file

In [21]:
import csv

with open('data.csv', 'r') as f:
    reader = csv.reader(f)
    
    for row in reader:
        print(row)

# Exception Handling

In [32]:
num1 = int(input('entre first number:'))
num1 = int(input('entre number:'))

div = num1/num1
print(div)

print('rest in pice')

entre first number:34
entre number:46
1.0
rest in pice

In [39]:
num1 = int(input('entre first number:'))
num1 = int(input('entre number:'))


try :
    div = num1/num1
    print(div)
except: 
    print('somthhing wrong in code ')

print('rest in pice')

entre first number:78
entre number:0
somthhing wrong in code
rest in pice

In [51]:

num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))

try:
    div = num1 / num2
    print(div)

except ZeroDivisionError:
    print('Error: Division by zero occurred')

print('Rest in peace')

Enter first number: 34
Enter second number: 0
Error: Division by zero occurred
Rest in peace

In [52]:

num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))

try:
    div = num1 / num2
    print(div)

except Exception as e:
    print(e)

print('Rest in peace')

Enter first number: 34
Enter second number: 0
division by zero
Rest in peace

In [50]:
try :
    f  = open('micr.txt','r')
except Exception as e:
    print(e)
    
4+5

[Errno 2] No such file or directory: 'micr.txt'

9

## Try ,Except ,Else and finally keyword

In [12]:
try :
    f  = open('text.txt','r')
except Exception as e:
    print(e)
else :
    print ('no exception Exist')
finally :
    print ('it alway excecuted in exception exist or not')

no exception Exist
it alway excecuted in exception exist or not

In [17]:
num1 = int(input('entre first number:'))
num1 = int(input('entre number:'))

try:
    div = num1/num2
    print(div)
except:
    print('something went wrong')
else:
    print('no exception Exist')
finally:
    print('it alway excecuted in exception exist or not')

print('rest in pice')

entre first number:36
entre number:6
0.09230769230769231
no exception Exist
it alway excecuted in exception exist or not
rest in pice

## multiple Exept

In [3]:
#Method 1 

num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))


try :
    div = num1 /num2
    print(harshali)
    
except ZeroDivisionError as e:
    print(e)
    
except Exception as ei:
    print('name Error ' ,ei)

Enter first number: 34
Enter second number: 65
name Error  name 'harshali' is not defined

In [7]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))


try :
    div = num1 /num2
    print(harshali)
    
except Exception as e:
    print('error is :' , e)
    
except Exception as ei:
    print('name Error ' ,ei)
    
print('rest in pice ')

Enter first number: 24
Enter second number: 0
error is : division by zero
rest in pice

In [11]:
##Method 2 

num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))


try :
    div = num1 /num2
    print(harshali)
    
except Exception as e:
    print('error is :' , e)
    
print('rest in pice ')

Enter first number: 34
Enter second number: 65
error is : name 'harshali' is not defined
rest in pice

In [10]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))


try :
    div = num1 /num2
    print(harshali)
    
except Exception as e:
    print('error is :' , e)
    
print('rest in pice ')

Enter first number: 34
Enter second number: 0
error is : division by zero
rest in pice

## custom Exceptional Handling

In [22]:
try:
    age = int(input('Enter your age: '))
    if age < 0:
        raise ValueError('negative age Invalid age')
    
    print('Your age is:', age)
    
except ValueError as e:
    print('Error:', e)

print('Rest of the code')

Enter your age: -9
Error: negative age Invalid age
Rest of the code

In [21]:
try:
    age = int(input('Enter your age: '))
    if age < 0:
        raise Valueo('Invalid age')
    
    print('Your age is:', age)
    
except Valueo as e:
    print('Error:', e)

print('Rest of the code')

Enter your age: 34
Your age is: 34
Rest of the code