##### 1. Write a Python program to triple all numbers in a given list of integers. Use Python map

In [1]:
num = (1,2,3,4,5,6,7)

result = map(lambda a :a+a+a , num)
print(list(result))

[3, 6, 9, 12, 15, 18, 21]

##### 2. Write a Python program to add three given lists using Python map and lambda.

In [5]:
nums1 = [1, 2, 3] 
nums2 = [4, 5, 6] 
nums3 = [7, 8, 9] 

result = map(lambda a,b,c : a+b+c,nums1,nums2,nums3)
print(list(result))

[12, 15, 18]

#### 3. Write a Python program to listify the list of given strings individually using Python map.

In [11]:
color = ['Red', 'Blue', 'Black', 'White', 'Pink'] 

print("\nAfter listify the list of strings are:") 
result = list(map(list, color)) 
print(result)

After listify the list of strings are:
[['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['B', 'l', 'a', 'c', 'k'], ['W', 'h', 'i', 't', 'e'], ['P', 'i', 'n', 'k']]

#### 4. Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.

In [15]:
numbers = [10,20,30,40,50,60]

power_list = list(map(lambda b,e : b**e , numbers , range(len(numbers))))


print(power_list)

[1, 20, 900, 64000, 6250000, 777600000]

In [21]:
bases_num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = list(map(pow, bases_num, index))
print(result)

[10, 400, 27000, 2560000, 312500000, 46656000000, 8235430000000, 1677721600000000, 387420489000000000, 100000000000000000000]

### 5. Write a Python program to square the elements of a list using the map() function.

In [29]:
l = [1,2,3,4,5]
 
print(list(map(lambda a :pow(a,2) ,l)))

[1, 4, 9, 16, 25]

In [28]:
def squre (n):
    a = n**2
    return a
l = [1,2,3,4,5]
result = list(map(squre , l))
print(result)

[1, 4, 9, 16, 25]

##### 6. Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function.

In [36]:
def func (s):
    return str(s).upper(),str(s).lower()

chrars = ['a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a']

result = map(func , chrars)
print(set(result))

{('O', 'o'), ('A', 'a'), ('B', 'b'), ('U', 'u'), ('E', 'e'), ('F', 'f'), ('I', 'i')}

####  Write a Python program to add two given lists and find the difference between them. Use the map() function.

In [38]:
A = [23,65,87,95,35]
B = [45,24,66,87,56]

def substraction (a,b):
    return a-b

result = map(substraction , A,B)
print(list(result))

[-22, 41, 21, 8, -21]

In [39]:
print(list(map(lambda a,b : a-b ,A,B )))

[-22, 41, 21, 8, -21]

#### 8. Write a Python program to convert a given list of integers and a tuple of integers in a list of strings.

In [43]:
nums_list = [1,2,3,4]
nums_tuple = (0, 1, 2, 3) 

print(list(map(str,nums_list)))
print(list(map(str,nums_tuple)))

['1', '2', '3', '4']
['0', '1', '2', '3']

#### 9. Write a Python program to create a new list taking specific elements from a tuple and convert a string value to an integer.

In [47]:
student_data  = [('Alberto Franco','15/05/2002','35kg'), ('Gino Mcneill','17/05/2002','37kg'), ('Ryan Parkes','16/02/1999', '39kg'), ('Eesha Hinton','25/09/1998', '35kg')]

print(list(map(lambda x:x[0],student_data)))
print(list(map(lambda x:x[1],student_data)))
print(list(map(lambda x:x[2],student_data)))
print(list(map(lambda x:int(x[2][:-2]),student_data)))

['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton']
['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998']
['35kg', '37kg', '39kg', '35kg']
[35, 37, 39, 35]

#### 0. Write a Python program to compute the square of the first N Fibonacci numbers, using the map function and generate a list of the numbers.

#### 11. Write a Python program to compute the sum of elements of an array of integers. Use the map() function.

In [58]:
arr = [1, 2, 3, 4, 5]

# Use the map() function to convert the elements to integers (not necessary in this case, but shown for demonstration)
arr_int = list(map(int,arr))


# Compute the sum of the elements using the sum() function
total_sum = sum(arr_int)

# Print the sum
print("Sum of elements:", total_sum)

Sum of elements: 15

In [54]:
arr= [1,2,3,4,5]

print(sum(map(int,arr)))

15

In [62]:
def summ (a):
    sum = 0
    for i in a:
        sum += i
    return(sum)  

arr = [1, 2, 3, 4, 5]
print(list(map(summ,[arr])))

[15]

#### 12. Write a Python program to find the ratio of positive numbers, negative numbers and zeroes in an array of integers.

In [73]:
def find_ratio (a):
    positive_count = 0
    negative_count = 0
    zero_count = 0
    
    for i in a:
        if i>0:
            positive_count += 1
        elif i<0 :
            negative_count +=1
        else :
            zero_count +=1
        
    total_count = len(a)
    positive_ratio = positive_count/total_count
    negative_ratio = negative_count/total_count
    zero_ratio = zero_count / total_count
    
    return (positive_ratio, negative_ratio, zero_ratio)
    
a = [1, -2, 0, 3, -4, 0, 5]

result = find_ratio(a)
print(result)
print("Positive Ratio:", result[0])
print("Negative Ratio:", result[1])
print("Zero Ratio:", result[2])

(0.42857142857142855, 0.2857142857142857, 0.2857142857142857)
Positive Ratio: 0.42857142857142855
Negative Ratio: 0.2857142857142857
Zero Ratio: 0.2857142857142857

#### 13. Write a Python program to count the same pair in two given lists. use map() function.

#### 14. Write a Python program to interleave two lists into another list randomly. Use the map() function

#### 15. Write a Python program to split a given dictionary of lists into list of dictionaries using the map function.

#### 16. Write a Python program to convert a given list of strings into a list of lists using the map function.

In [3]:
A = ['mona','tina','neha']
print(list(map(list,A)))

[['m', 'o', 'n', 'a'], ['t', 'i', 'n', 'a'], ['n', 'e', 'h', 'a']]

#### 17. Write a Python program to convert a given list of tuples to a list of strings using the map function.

In [2]:
A = (1,3,5,7)
print(list(map(str,A)))

['1', '3', '5', '7']

#### 18.Create a program that takes a list of dictionaries, each containing a 'name' and 'age' key, and sorts the list of dictionaries based on the 'age' field in ascending order using the sorted() function

In [8]:
people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Eve', 'age': 22},
    {'name': 'David', 'age': 35}]

# Sort the list of dictionaries based on the 'age' field in ascending order
sorted_people = sorted(people,key = lambda x:x['age'])

print(sorted_people)

[{'name': 'Eve', 'age': 22}, {'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}, {'name': 'David', 'age': 35}]

In [10]:

# Print the sorted list
for person in sorted_people:
    print(f"Name: {person['name']}, Age: {person['age']}")

Name: Eve, Age: 22
Name: Alice, Age: 25
Name: Bob, Age: 30
Name: David, Age: 35

#### 15. Write a Python program to split a given dictionary of lists into list of dictionaries using the map function.

#### 19.Write a map function that adds plus 5 to each item in the list.

In [12]:
lst1=[10, 20, 30, 40, 50, 60]

lst2= list(map(lambda a: a+5 ,lst1))

print(lst2)

[15, 25, 35, 45, 55, 65]

#### 20.Write a map function that adds "Hello, " in front of each item in the list.

In [16]:
lst1=["Jane", "Lee", "Will", "Brie"]

lst2=list(map(lambda a : 'Hello '+ a , lst1))

print(lst2)

['Hello Jane', 'Hello Lee', 'Hello Will', 'Hello Brie']

#### 21.Write a map function that returns the squares of the items in the list

In [17]:
lst1=[10, 20, 30, 40, 50, 60]
print(list(map( lambda a: a**2 , lst1)))

[100, 400, 900, 1600, 2500, 3600]

#### 20.Using map() function and len() function create a list that's consisted of lengths of each element in the first list.

In [18]:

lst1=["Alpine", "Avalanche", "Powder", "Snowflake", "Summit"]

lst2= list(map( len , lst1))

print(lst2)

[6, 9, 6, 9, 6]

#### 21.Using map() function and lambda add each elements of two lists together. Use a lambda with two arguments.

In [20]:
lst1=[100, 200, 300, 400, 500]
lst2=[1,10,100,1000,10000]



lst3= list (map (lambda a,b : a+b , lst1,lst2))

print(lst3)

[101, 210, 400, 1400, 10500]

#### 22.Using map() function and lambda and count() function create a list which consists of the number of occurence of letter: a.

In [21]:
lst1 = ['aandi', 'aradhana' ,'atharv','amsuni']

print( list(map(lambda x:x.count('a'),lst1)))

[2, 4, 2, 1]

#### 23.Using map() function and lambda and count() function create a list consisted of the number of occurence of both letters: A and a.

In [23]:
lst1=["Alaska", "Alabama", "Arizona", "Arkansas"]

lst2 = list(map(lambda x: x.lower().count("a"), lst1))
print(lst2)

[3, 4, 2, 3]

#### 24.Using map() function, first return a new list with absolute values of existing list. Then for ans_1, find the total sum of the new list's elements.

In [28]:

lst=[99.3890,-3.5, 5, -0.7123, -9, -0.003]
new_lst= list(map(abs ,lst))

ans_1= sum(new_lst)

print(ans_1)

117.6043