# Data Types

###  String Dtype

######  Escape character

In [ ]:
print ('''I am so "happy" here''')

In [ ]:
print("hello\nindia")

In [ ]:
"it\'s alright'"

In [ ]:
print("i am\"harshali\"")

In [ ]:
print("hello\\india")

In [ ]:
print("hello\rindia")

In [ ]:
print("hello\bindia")

In [ ]:
print("hello\\:india")

#####  string /output formating

In [ ]:
Name = 'harshali'
age = 23

In [ ]:
f"my name is {Name} amd i am {age} old"

In [ ]:
print(F"my name is {'priya'} and i am {23} years old")

In [ ]:
print('my name is ' , Name , 'and age is' ,age)

##### Sring Method

In [ ]:
str.__doc__

In [ ]:
A = 'Harshali'

In [ ]:
print(A.upper())
print(A .lower())
print(A .replace('H','V'))
print(A .find('ar'))
print(A .split())
print(A .capitalize())
print(A .casefold())
print(A .encode())
print(A .endswith('i'))
print(A .expandtabs(2))

In [ ]:

print(A.isalnum())
print(A.isalpha())
print(A.isascii())
print(A.isdecimal())
print(A.isdigit())
print(A.isidentifier())
print(A.islower())
print(A.isupper())
print(A.isnumeric())
print(B.isspace())
print(A.istitle())

In [ ]:
print(B.title())
print(A.swapcase())
print(B.strip())
print(B.rstrip())
print(B.lstrip())
print(A.splitlines())
print(B.splitlines())
print(B.split())
print(B.rsplit())

In [ ]:
B = 'MY Dream will completing ?'

In [ ]:
print(len(A))
print(A.count('a'))                                                        #count(substring, start, end)
print(A.center(12, '*'))                                                   #center(width, fillchar)
print(A.rjust(12, '*'))
print(A.index('a'))                                                        #index(substring, start, end)
print(A.rindex('a'))
print(A.rfind('a'))
print('my name is {}'.format(A) )
print(B.partition("%"))
print(B.rpartition("%"))
print(B.startswith('H'))
print(B.startswith('MY'))

In [ ]:
C = str.maketrans('Hali','@123')
print(A.translate(C))

In [ ]:
D = ['tina','mona','neha']
print(" ".join(D))

In [ ]:
D = ['tina','mona','neha' ]
print(" IS GOOD GIRL  ,  ". join(D))

#### print and   INPUT function

In [ ]:
input('entre your name')

In [ ]:
print(int(input('total marks')))

In [ ]:
int(input('marks'))

In [ ]:
A = input('entre name')
B = int(input('age'))

print('may name is' , A , 'and i am ',B ,"year old")

### List Methods

In [ ]:
A = [3, 1, 4, 1, 5]
print(max(A))
print(min(A))
print(sum(A))

In [ ]:
a = 3 in A
b = 4 not in A

print(a)
print(b)

In [ ]:
A.sort()
print(A)

In [ ]:
A.sort(reverse = True)
print (A)

In [ ]:
A.reverse()
print(A)

In [ ]:
A.append('good')
print(A)

In [ ]:
A.extend(['00' ,'hellow'])
print(A)

In [ ]:
A.insert(0,'hii')
print(A)

In [ ]:
A.remove(1)
print(A)

In [ ]:
A.pop(6)
print(A)

In [ ]:
del A[2]
print(A)

In [ ]:
del A[1:3]
print(A)

In [ ]:
A.count(5)

In [ ]:
len(A)

In [ ]:
shallow_copy_of_A = A.copy()
print(shallow_copy_of_A)

In [ ]:
D = iter(A)
print(D)

In [ ]:
A.clear()
print(A)

##### list cOMPRESSION

In [ ]:
R= [i for i in  range(2,8) if i%2 == 0]
print(R)

In [ ]:
A = [1,2,3,4,5]
B = [x**2 for x in A]
print(B)

###  Tuples Methods

In [ ]:
a = (1,2,3,3,5)
print(a)

In [ ]:
a.count(3)

In [ ]:
a.index(3)

In [ ]:
len(a)

### Dictonary

In [ ]:
#Accesing dictonary and it element that present in it
a = {"name":'hina',
    "marks":123,
    1:"$"}
print(a)
print(a.get(1))
print(a["name"])

In [ ]:
# changing values of key 
a['name'] = 'tina'
print(a)
print(a['name'] == 'tina')

In [ ]:
a.update({1:'@@@@'})
a

In [ ]:
# adding key:value pair in it 
a['div'] = 'A'
a

In [ ]:
A = {'name':'nita'}                                                     # Initialize an empty dictionary
value = A.setdefault("b", 42)                             # Insert "b" with a default value of 42 
#value = A.setdefault("b", 42 ,'name',2)                  # setdefault expected at most 2 arguments, got 4

print(value)                                              # This will print 42
print(A)

In [ ]:
# removing element from dictonary 

print(a.pop(1))                # remove key 1 value
print(a.popitem())             # remove last key:value pair

In [ ]:
print(a)

In [ ]:
print(a.clear())             # remove all key:value pair in dictonary

In [ ]:
a

In [ ]:
a = {1 :'abc'}

In [ ]:
del a                     # deleate complete dictionary

In [ ]:
print(a)

In [ ]:
###### pYTHON DICTONARY COM[PRESSION  = 2 way 

A = {i:i*i for i in range(9)}
print(A)

In [ ]:
A ={}
for i in range (6):
    A[i] = i*i
print(A)

In [ ]:
B = {X:X**2 for X in range(4)}
print(B)

In [ ]:
B = {}
for x in range(6):
    B[x] = x/6
print(B)

In [ ]:
# Dictionary membership test 

C = {"name":'hina', "marks":123, 1:"$"}

In [ ]:
print(C)
print(C['name'] == 'tina')
print(1 in C)                                  # check key present in dic ,
print('hina' in  C)                            # we do not direct check particular value which are present in  dic
print(8 in C)

In [ ]:
# iterating Through a dictionary 

C = {"name":'hina', "marks":123, 1:"$"}

for i in C:
    print(C[i])

In [ ]:
#Copy of dictonary 
A = C.copy()
print(A)

In [ ]:
z = dict(C)
print(z)

In [ ]:
# nested Dictionary

In [ ]:
MYFAMILY = { 'child-1' : {'name': 'tina', "marks":45},
            'child-2' : {'name': 'tina', "marks":45}}
print(MYFAMILY)

In [ ]:
student1 = {'name': 'tina', 'marks': 45}
student2 = {'name': 'Neha', 'marks': 89}

school = {1: student1, 2: student2}
print(school)

In [ ]:
print(school[1]["name"])

### DiCTIONARY Built- in function 
the fromkeys() method is a built-in method in Python that is used to create a new dictionary with specified keys from a sequence (like a list, tuple, or range) and optionally, a default value for all the keys
Here's the syntax:

dict.fromkeys(seq, [value])

seq: This is the sequence of keys that you want to create in the new dictionary.
value (optional): This is the default value that will be assigned to all the keys in the new dictionary. 

If you don't provide a value, it will default to None.

In [ ]:
# Example 1: Create a dictionary with keys from a list
keys = ['a', 'b', 'c']
new_dict = dict.fromkeys(keys)
print(new_dict)

In [ ]:
keys = ['a', 'b', 'c']
new_dict = dict.fromkeys(keys,('@'))
print(new_dict)

In [ ]:
# Example 2: Create a dictionary with keys from a tuple and a default value
keys = ('x', 'y', 'z')
values = "bnm"
new_dict = dict.fromkeys(keys, values)
print(new_dict)

In [ ]:
C = {"name":'hina', "marks":123, 1:"$"}

In [ ]:
print(C.items())
print(C.keys())
print(C.values())

In [ ]:
A = {'name':'nita'}                                                     # Initialize an empty dictionary
value = A.setdefault("b", 42)                             # Insert "b" with a default value of 42 
#value = A.setdefault("b", 42 ,'name',2)                  # setdefault expected at most 2 arguments, got 4

print(value)                                              # This will print 42
print(A)

In [ ]:
my_dict = {'b': 2, 'a': 1, 'c': 3}

sorted_keys = sorted(my_dict.keys())
sorted_values = sorted(my_dict.values())

print(sorted_values)
print(sorted_keys)

In [ ]:
my_dict = {'a': False, 'b': False, 'c': True}
result = any(my_dict.values())
print(result)

In [ ]:
my_dict = {'a': True, 'b': True, 'c': False}
result = all(my_dict.values())
print(result)

In [ ]:
print(len(my_dict))

### SET

In [ ]:
# CREATING SET 

A = { 1,2,3,4}

In [ ]:
# CREATING SET BY LIST ,TUPLES ,AND STRING  AND EMPTY SET == SET() FUNCTION

my_list = [1, 2, 2, 3, 3, 4, 5, 5]
my_set = set(my_list)
print(my_set)

my_string = "hello"
my_set = set(my_string)
print(my_set)

In [ ]:
# Empty curly braces{} will make an empty dictionary  in Python.
To make a set with out any elements,we use the set() function 
without any argument

#A={}
#print(type(A))   # error

A = set()
print(A)

In [ ]:
A = set()
print(type(A))

####  MODIFING SET 
WE CAN NOT ACCESS OR CHANGR SET BY USING INDEXING AND SLINSING INSTED OF THAT WE USE DIFFERENT FUNCTUION

In [ ]:
MY_SET = {1,2,3}

In [ ]:
MY_SET.add(4)               # add single object 
print(MY_SET)

In [ ]:
MY_SET.update([5,"@",'good'])               # add Multiple  object 
print(MY_SET)

In [ ]:
MY_SET.update([6,7],{8,9})               # add Multiple  object 
print(MY_SET)

##### Removing element of an set

In [ ]:
MY_SET.remove(4)          #remove a single specified element from the set

In [ ]:
MY_SET.discard(6)       #remove a single specified element from the set

In [ ]:
MY_SET.pop()           #element removed by pop() is not necessarily the 
                     #first or last element in the set; it's a random choice.

In [ ]:
print(MY_SET)

In [ ]:
MY_SET.clear()

#### Python SET operation

In [ ]:
A= {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
print(A|B)         # UNION

In [ ]:
print(A&B)         #INTESECTION

Result = A.intersection(B)
print(Result)

A.intersection_update(B)
print(A)

In [ ]:
print(A-B)        # DIFFERENCE

Result = A. difference(B)
print(Result)

A.difference_update(B)
print(A)

In [ ]:
print(A^B)          # SET SYMMETRIC DIFFERENCE

result = A.symmetric_difference(B)
print(result)

A.symmetric_difference_update(B)
print(A)

#### SET Compression

In [ ]:
my_list = [1, 2, 2, 3, 4, 5, 6, 6, 6, 7]

B = set()  # Create an empty set

# Using a loop to construct the output set
for var in my_list:
    if var % 2 == 0:
        B.add(var)  # Use the add() method to add elements to the set

print(B)

In [ ]:
callable(list)
callable(set)

In [ ]:
list = [1,2,33,33,4,4,5,5]
B = set()

set_com = {i for i in list if B%3 == 0}
print (set_com)

#### set Membership test

In [ ]:
myset = {'Apple' ,'Mango'}

In [ ]:
print('A' in myset )

In [ ]:
print('Mango' not in myset )

#### Iterating through set

In [ ]:
my_set = {1, 2, 3, 4, 5}

for item in my_set:
    print(item)

#### Python set method

In [ ]:
#union(): Returns the set of all elements that are in either of the sets.

A = {1,2,3,4,5}
B = {4,5,6,7,8}

print(A.union(B))

In [ ]:
# isdisjoint(): Returns True if two sets have no common elements

print(A.isdisjoint(B))

In [ ]:
# issubset(): Returns True if one set is a subset of another.
set1 = {1, 2}
set2 = {1, 2, 3, 4}
result = set1.issubset(set2)
print(result)

In [ ]:
# issuperset(): Returns True if one set is a superset of another.

set1 = {1, 2, 3, 4}
set2 = {1, 2}
result = set1.issuperset(set2)
print(result)

In [ ]:
A = frozenset([1,2,3,4])
print(A)

In [ ]:
BA = frozenset([3,4,5,6,7])
print(BA)

In [ ]:
A|BA

### Boolean

In [ ]:
print(10>9)

In [ ]:
print(bool('hellow'))

In [ ]:
print(bool(0))

In [ ]:
print(bool(" "))