In [ ]:
""" Write a Python program to check the validity of passwords input by users.
Validation :

At least 1 letter between [a-z] and 1 letter between [A-Z].
At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters."""


import re
p= input("Input your password")
x = True
while x:  
    if (len(p)<6 or len(p)>12):
        break
    elif not re.search("[a-z]",p):
        break
    elif not re.search("[0-9]",p):
        break
    elif not re.search("[A-Z]",p):
        break
    elif not re.search("[$#@]",p):
        break
    elif re.search("\s",p):
        break
    else:
        print("Valid Password")
        x=False
        break

if x:
    print("Not a Valid Password")

In [3]:
# print the first 10 natural numbers using loop

for i in range (11) :
    print (i,end = ' ')

0 1 2 3 4 5 6 7 8 9 10

In [5]:
#: Python program to print all the even numbers within the given range.

for i in range (10):
    if i%2 == 0 :
        print(i)

0
2
4
6
8

In [8]:
#  Python program to calculate the sum of all numbers from 1 to a given number.

n= 10
total_sum = 0

for i in range (1,n+1):
    total_sum += i
print("The sum of all numbers from 1 to", n, "is:", total_sum)

The sum of all numbers from 1 to 10 is: 55

In [11]:
# Python program to calculate the sum of all the odd numbers within the given range.

n= 10 
sum_odd = 0 
for i in range (1 ,n+1):
    if i%2 != 0:
        sum_odd +=i
print(sum_odd)

25

In [14]:
#Python program to print a multiplication table of a given number

number  = int(input('entre number'))

for i in range (1,11):
    result = number*i
    print(f"{number} x {i} = {result}")

entre number2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [15]:
#  Python program to display numbers from a list using a for loop.

A = [1,2,3,4,5,6]

for i in A:
    print(i ,end =' ')

1 2 3 4 5 6

In [1]:
#Python program to count the total number of digits in a number.

num= int(input('entre number'))
count = 0

while num >0:
    num = num//10
    count+=1 
print('total number of digit' , count)

entre number2
total number of digit 1

In [4]:
num= int(input('entre number'))
num = str(num)
count = 0

for i in num:
    count+= 1
print(count)

entre number45
2

In [12]:
# Python program to check if the given string is a palindrome.

given_string = 'madam'
reverse_string = given_string[::-1]
if given_string == reverse_string:
    print('thestring', given_string ,'is palindrime')
else:
    print("The string",given_string,"is NOT a Palindrome.")

thestring madam is palindrime

In [13]:
#Python program that accepts a word from the user and reverses it.

word = input('entre word')
reverse_string = word[::-1]
print('reversed word:',reverse_string)

entre wordhasjalui
reversed word: iulajsah

In [15]:
#Python program to check if a given number is an Armstrong number


given_number = 153
given_number = str(given_number)
string_length = len(given_number)
 
sum = 0

for i in given_number:
    sum += int(i)**string_length
if sum == int(given_number):
    print("The given number",given_number,"is an Amstrong number.")
else:
    print("The given number",given_number,"is Not an Amstrong number.")

The given number 153 is an Amstrong number.

In [2]:
num = int(input('Enter a number: '))
num_digit = len(str(num))

sum_digits = 0
temp = num  # Use a temporary variable to store a copy of the original number

while temp > 0:
    digit = temp % 10
    sum_digits += digit ** num_digit
    temp //= 10

if num == sum_digits:
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number: 153
153 is an Armstrong number.

In [6]:
num = int(input('Enter a number: '))
num_digit = len(str(num))

sum_digits = 0
for _ in range(num_digit):
    digit = num%10
    sum_digits += digit**num_digit
    num//=10
        
if num== sum_digits:
    print(f"{num} is an Armstrong number.")
else:
    
    print(f"{num} is not an Armstrong number.")

Enter a number: 79
0 is not an Armstrong number.

In [14]:
#Python program to count the number of even and odd numbers from a series of numbers.
num_list = [1,3,5,6,99,134,55]
 
for i in num_list:
    if i%2==0:
        print(i,"is an even number.")
    else:
        print(i,"is an odd number.")

1 is an odd number.
3 is an odd number.
5 is an odd number.
6 is an even number.
99 is an odd number.
134 is an even number.
55 is an odd number.

In [8]:
# Python program to display all numbers within a range except the prime numbers

# For loop

In [19]:
for i in 'myblog':
    print(i ,'?')

m ?
y ?
b ?
l ?
o ?
g ?

In [30]:
# write a programme to print forst 10 natral number
for i in  range (11):
    print (i)

0
1
2
3
4
5
6
7
8
9
10

In [31]:
# write a programme to print forst 10 even number
for i in range (11):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10

In [32]:
# write a programme to print forst 10 odd number
for i in range (11):
    if i%2 != 0:
        print(i)

1
3
5
7
9

In [34]:
#write a programme to print first 10 even numbers in reverse order.
for i in range (20 ,0,-2):
        print(i)

20
18
16
14
12
10
8
6
4
2

In [38]:
# write a programme to find the factrorial of a number

num = int(input('entre number'))
f = 1
for i in range (1,num+1):
    F= f*i
print('factorial is ', F)

entre number4
factorial is  4

In [4]:
# write a programme to find the sum of digit of a number accepted from user 

num = int(input('entre number'))
s =0

while num:
    digit = i%10 
    s+=digit
    num //= 10
    print('sum of digits', s)

entre number5
sum of digits 4

In [6]:
# write a programme to check whether a number is prime or not 

num = int(input('entre number'))

if num% 1 == 0 and num% num == 0:
    print('prime number')
else:
    print('not prime number')

entre number34
prime number

In [9]:
for i in (1,10):
    print(i)

1
10

In [10]:
for i in range (2,7):
    print(i)

2
3
4
5
6

In [13]:
for i in 'pYTHON':
    print(i , end == '?')

NameError: name 'end' is not defined

In [14]:
x= 5 
while x<15:
    print(x**2)
    x+=3

25
64
121
196

In [16]:
a = 7
b = 5
while (a < 9):
    print(a+b)
    a+=1

12
13

In [20]:
b =5 
while( b>9) :
    print('H')
    b+=1

In [21]:
b = 15
while (b>9):
    print('hello')
    b = b-2

hello
hello
hello

In [22]:
x =15 
while (x==15):
    print('hello')
    x =x-3

hello

In [24]:
for i in range(5):
    for j in range(4-i):
        print('*',end ='')
    print()

****
***
**
*

In [5]:
### accept 10 numbers fromm the user and display their averaage .
total = 0
for i in range(10):
   # num = int(input(f'entre number{i+1}: '))
    total +=i
average = total /10
print('avergage of 10 number is:', average)

avergage of 10 number is: 4.5

In [9]:
### accept 10 numbers fromm the user and display their averaage .
total = 0
for i in range(10):
    num = int(input(f'entre number{i+1}: '))
    total +=num
average = total /10
print('avergage of 10 number is:', average)

entre number1: 1
entre number2: 2
entre number3: 3
entre number4: 4
entre number5: 5
entre number6: 6
entre number7: 7
entre number8: 8
entre number9: 9
entre number10: 10
avergage of 10 number is: 5.5

In [2]:
total = 0
for i in range(10):
    num = float(input(f"Enter number {i + 1}: "))
    total += num

average = total / 10

print(f"The average of the 10 numbers is: {average}",total)

Enter number 1: 1
Enter number 2: 2
Enter number 3: 3
Enter number 4: 4
Enter number 5: 5
Enter number 6: 6
Enter number 7: 7
Enter number 8: 8
Enter number 9: 9
Enter number 10: 10
The average of the 10 numbers is: 5.5 55.0

In [ ]:
# write a programme to print prime numbers that fall between two numbers including both (accept two numbres from user)

In [11]:
# write a programme in python to display the factorial of number

n = int(input('entre number:'))
if (n==0 or n< 0):
    print('n should bt greter than 0')
else:
    fact = 1
    while (n):
        fact*=n
        n= n-1
    print(fact)

entre number:5
120

In [17]:
#write a programm in python to reverse a word 

str = input("Input a word to reverse: ")

for i in range(len(str) - 1, -1, -1):
  print(str[i], end="")
print("\n")

Input a word to reverse: python
nohtyp

In [1]:
# write a programme to print n natural number in asending order using a while loop

n = int(input('entre range : '))

while (n != 0 ):10
    print(n,end = ' ')
    n = n-1

entre range : 10
10 9 8 7 6 5 4 3 2 1

In [4]:
# write a programme to display the first 7 multiplies of 7

for i in range (8):
    m = i*7
    print(m, end = ' ')

0 7 14 21 28 35 42 49

In [15]:
# write a programme that appends the square of each number to a new list 

A = [1,2,3,4,5]
Z = []
for i in range(len(A)):
    Z.append(A[i]**2)
print('result:',Z)

result [1, 4, 9, 16, 25]

In [19]:
#seperate positive and negative number from a list.
x = [23,4,-6,23,-9,21,3,-45,-8]
a = []
b =[]

for i in range(len(x)):
    if x[i] < 0:
        a.append(x[i])
    else:
        b.append(x[i])
print('posotive number are:', a)
print('negative number are:',b)

posotive number are: [-6, -9, -45, -8]
negative number are: [23, 4, 23, 21, 3]

In [22]:
# write a programme that appends the type of elemnt from list 

x = [23 ,'python',23.98]
a = [ ]

for i in range(len(x)):
    if i == 23:
        a.append(type(x[i]))
    elif i =='python':
        a.append(type(x[i]))
    else:
        a.append(type(x[i]))
print(a)

[<class 'int'>, <class 'str'>, <class 'float'>]

In [25]:
# write a programme to filtere even and odd number from list 

X = [10,23,24,35,65,78,90]
a = []
b = []

for i in range (len(X)):
    if i%2 == 0 :
        a.append(X[i])
    else:
        b.append(X[i])
print('even number:',a)
print('odd number:',b)

even number: [10, 24, 65, 90]
odd number: [23, 35, 78]

In [27]:
# write a programme to fetch only even values from dictionary 

dic = {'val1':10, 'val2':20, 'val3':23, 'val4':22 }

for key , value in dic.items():
    if value%2 == 0:
        print(value)

10
20
22

In [ ]:
#Write a for loop so that every item in the list is printed.

In [ ]:
#Write a for loop which print "Hello!, " plus each name in the list. i.e.: "Hello!, Sam"

In [ ]:
#Write a for loop that iterates through a string and prints every letter.

In [ ]:
#Type a code inside the for loop so that counter variable named c is increased by one each time loop iterates. Can you guess how many times it will add 1?.

In [ ]:
#Using a for loop and .append() method append each item with a Dr. prefix to the lst.

In [ ]:
#Write a for loop which appends the square of each number to the new list.

In [ ]:
#Write a for loop using an if statement, that appends each number to the new list if it's positive.

In [ ]:
#Using for loop and if statement, append the value minus 1000 for each key to the new list if the value is above 1000. i.e.: if the value is 1500, 500 should be added to the new list.

dict={"z1":900, "t1": 1100, "p1": 2300, "r1": 1050, "k1": 3200, "g1": 400}
lst=[]

In [29]:
#Write a for loop which appends the type of each element in the first list to the second list.

In [ ]:
#Write a while loop that adds all the numbers up to 100 (inclusive).

In [32]:
#Using a while loop, len function, an if statement and the str() function; iterate through the given list and if there is a 100, assign a notification message to the variable my_message with the index of 100.
#i.e.: "There is a 100 at index no: 5"
    
lst=[10, 99, 98, 85, 45, 59, 65, 66, 76, 12, 35, 13, 100, 80, 95]

my_message=""

i = 0
while i < len(lst):
    if lst[i] == 100:
        my_message = "There is a 100 at index no: " + str(i)
    i = i+1
print(my_message)

There is a 100 at index no: 12

In [36]:
#Using a while loop and an if statement write a function named name_adder which appends all the elements in a list to a new list unless the element is an empty string: "".


lst1=["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"]
a = []

i = 0 
while i < len(lst1):
    if lst1[i] != "":
        a.append(lst1[i])
    i+=1
print(a)

['Joe', 'Sarah', 'Mike', 'Jess', 'Matt', 'Greg']

In [2]:
#This time inside a function named name_adder, write a while loop that stops appending items to the new_list as soon as it encounters an empty string: "".


lst1=["Sam", "Luke", "", "Ben", "Olivia", "Alicia"]
a = []

i = 0 
while i < len(lst1):
    if lst1[i] != "":
        a.append(lst1[i])
    else:
        break
    i+=1
print(a)

['Sam', 'Luke']

In [ ]:
#Print 5 by accessing the nested data.

In [ ]:
#Place a break statement in the for loop so that it prints from 0 to 7 only (including 7).

In [ ]:
#Add an if statement and a continue statement to the loop so that it skips when iterator equals "sun".

weather=["snow", "rain", "sun", "clouds"]

In [2]:
#Using zip() function and list() function, create a merged list of tuples from the two lists given.

lst1=[19542209, 4887871, 1420491, 626299, 1805832, 39865590]
lst2=["New York", "Alabama", "Hawaii", "Vermont", "West Virginia",  "California"]

list3 = list(zip(lst1,lst2))
print(list3)

[(19542209, 'New York'), (4887871, 'Alabama'), (1420491, 'Hawaii'), (626299, 'Vermont'), (1805832, 'West Virginia'), (39865590, 'California')]

In [5]:
#First create a range from 1 to 8. Then using zip, merge the given list and the range together to create a new list of tuples.
lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]


rng1 = list(range(1,8))
lst = zip(lst1, rng1)

In [6]:
#Using zip and dict functions create a dictionary which has its key-value pairs coming from lst1 and lst2.

lst1=["Netflix", "Hulu", "Sling", "Hbo"]
lst2=[198, 166, 237, 125]
points=dict(zip(lst1,lst2))

print(points)

{'Netflix': 198, 'Hulu': 166, 'Sling': 237, 'Hbo': 125}

In [7]:
#Using zip, list and sorted functions create a sorted list of tuples from lst1 and lst2.

lst1=["Mike", "Danny", "Jim", "Annie"]
lst2=[4, 12, 7, 19]

#Type your answer here.


sorted_lst=sorted(list(zip(lst1,lst2)))

print(sorted_lst)

[('Annie', 19), ('Danny', 12), ('Jim', 7), ('Mike', 4)]

In [8]:
#1. Python for loop to iterate through the letters in a word

for i in 'pythonista':
    print(i)

p
y
t
h
o
n
i
s
t
a

In [1]:
# Iterate 0 to 10 using for loop, do the same using while loop.

i = 0
while i<11:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [28]:
## Iterate 0 to 10 using for loop, do the same using for loop.

for i in range (10,-1,-1):
    print(i ,end = ' ')

10 9 8 7 6 5 4 3 2 1 0

In [1]:
#Iterate 10 to 0 using for loop, do the same using while loop.
i = 10
while i >= 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0

In [5]:
#Write a loop that makes seven calls to print(), so we get on the output the following triangle:

for i in range(7):
    for j in range(i):
        print('#', end= '')
    print()

#
##
###
####
#####
######

In [10]:
for i in range(8):
    for j in range(8):
        print('#', end= '')
    print()

########
########
########
########
########
########
########
########

In [14]:
for i in range (11):
    result = i*i
    print(f"{i}x{i} = {result}")

0x0 = 0
1x1 = 1
2x2 = 4
3x3 = 9
4x4 = 16
5x5 = 25
6x6 = 36
7x7 = 49
8x8 = 64
9x9 = 81
10x10 = 100

In [16]:
#Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

L = ['Python', 'Numpy','Pandas','Django', 'Flask'] 

for i in L:
    print(i)

Python
Numpy
Pandas
Django
Flask

In [20]:
#Use for loop to iterate from 0 to 100 and print only even numbers

for i in range (100):
    if i%2 ==0 :
        print(i,end = ' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [19]:
# Use for loop to iterate from 0 to 100 and print only odd numbers

for i in range (100):
    if i%2 != 0:
        print(i ,end = ' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [23]:
#Use for loop to iterate from 0 to 100 and print the sum of all numbers.
sum= 0
for i in range(101):
    sum +=i
print("The sum of all numbers is",sum)

The sum of all numbers is 5050

In [25]:
#Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds

sum_even = 0
sum_odd = 0

for i in range (101):
    if i%2 ==0 :
        sum_even +=i
    else:
        sum_odd +=i
print("The sum of all evens is" ,sum_even, "And the sum of all odds is ",sum_odd)

The sum of all evens is 2550 And the sum of all odds is  2500

In [27]:
#This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop

fruits = ['banana', 'orange', 'mango', 'lemon']
reversed_fruits = []

for i in range(len(fruits) - 1, -1, -1):
    reversed_fruits.append(fruits[i])

print(reversed_fruits)

['lemon', 'mango', 'orange', 'banana']

In [9]:
# Write a program to find the sum of all the numbers less than a number entered by the user. Display the sum. The expected output is attached below.

num = int(input ('entre number:'))
sum = 0

for i in range(num):
    sum +=i
    print(i ,end = ' ')
print("\n  Total", sum)

entre number:5
0 1 2 3 4
  Total 10

In [10]:
#Write a program that makes the user guess a particular number between 1 and 100. Save the number to be guessed in a variable called magic_number.
# If the user guesses a number higher than the secret number, you should say Too high!. Similarly, you should say Too low! if they guess a number lower than the secret number. Once they guess the number, say Correct!

magic_number = 50 
while True:
    guess = int(input('entre number(1-100):'))
    if guess >magic_number:
        print('The number is too high!')
        continue
    elif guess <magic_number:
        print('That number is too low!')
        continue
    elif guess == magic_number:
        print("Hooray! You got it correct")
        break

entre number(1-100):45
That number is too low!
entre number(1-100):89
The number is too high!
entre number(1-100):100
The number is too high!
entre number(1-100):560
The number is too high!
entre number(1-100):50
Hooray! You got it correct

In [15]:
#Write a program where the user enters a number. If the number matches the number, acknowledge the user and stop the program. If the number does not match, keep asking for the next number.

secret_number = 1234
while True:
    guss = int(input('entre number:'))
    if guss == secret_number:
        print('your guss is correct!')
        break
    else:
        print('your guss is wrong , try again! \n')

entre number:234
your guss is wrong , try again!

entre number:23
your guss is wrong , try again!

entre number:1234
your guss is correct!

In [19]:
# Question 4: Rolling a dice
#Write a program that will print out all combinations that can be made when 2 dice are rolled. And should continue until all values up to 6, and 6 are printed. (Hint: You should have a space after each comma!)

for i in range(6):
    for j in range(6):
        print(i ,',',j , end = ' ')
    print()

0 , 0 0 , 1 0 , 2 0 , 3 0 , 4 0 , 5
1 , 0 1 , 1 1 , 2 1 , 3 1 , 4 1 , 5
2 , 0 2 , 1 2 , 2 2 , 3 2 , 4 2 , 5
3 , 0 3 , 1 3 , 2 3 , 3 3 , 4 3 , 5
4 , 0 4 , 1 4 , 2 4 , 3 4 , 4 4 , 5
5 , 0 5 , 1 5 , 2 5 , 3 5 , 4 5 , 5

In [23]:
for i in range(6):
    for j in range(i):
        print('*',end= ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [28]:

for i in range(5):
    for j in range(0, i+1):
        print("*", end=" ")
    print()
for i in range(6):
    print("*", end=" ")
print()  
for i in range(5, 0, -1):
    for j in range(1, i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [34]:
for i in range(5):
    for j in range(0,2*i,2):
        for k in range(j//2,0,-2):
            print("#")

#
#
#
#
#
#
#

# W3 Resourses

https://www.w3resource.com/c-programming-exercises/for-loop/index.php

In [5]:
sum = 0
for i in range (11):
    sum+=i
print(sum)

55

In [7]:
sum =0 
for i in range (8):
    sum+=i
    print(i)
print(sum)

0
1
2
3
4
5
6
7
28

In [10]:
# Write a program in C to read 10 numbers from the keyboard and find their sum and average.
sum = 0
count = 0

for i in range (1,10):
    sum+=i
    count+=1
    a= sum/count
print(sum)
print(a)

45
5.0

In [12]:
# Write a program in C to display the cube of the number up to an integer.

for i in range(6):
    print(i**3)

0
1
8
27
64
125

In [13]:
#Write a program in C to display the multiplication table for a given integer.

for i in range (16):
    result = i*i
    print(i,"x",i,'=',result)

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100
11 x 11 = 121
12 x 12 = 144
13 x 13 = 169
14 x 14 = 196

In [23]:
#  Write a program in C to display the multiplier table vertically from 1 to n.

for i in range(10):
    for j in range (10):
        print(i,'x',j,'=', i*j,end = '')
print()

0 x 0 = 00 x 1 = 00 x 2 = 00 x 3 = 00 x 4 = 00 x 5 = 00 x 6 = 00 x 7 = 00 x 8 = 00 x 9 = 01 x 0 = 01 x 1 = 11 x 2 = 21 x 3 = 31 x 4 = 41 x 5 = 51 x 6 = 61 x 7 = 71 x 8 = 81 x 9 = 92 x 0 = 02 x 1 = 22 x 2 = 42 x 3 = 62 x 4 = 82 x 5 = 102 x 6 = 122 x 7 = 142 x 8 = 162 x 9 = 183 x 0 = 03 x 1 = 33 x 2 = 63 x 3 = 93 x 4 = 123 x 5 = 153 x 6 = 183 x 7 = 213 x 8 = 243 x 9 = 274 x 0 = 04 x 1 = 44 x 2 = 84 x 3 = 124 x 4 = 164 x 5 = 204 x 6 = 244 x 7 = 284 x 8 = 324 x 9 = 365 x 0 = 05 x 1 = 55 x 2 = 105 x 3 = 155 x 4 = 205 x 5 = 255 x 6 = 305 x 7 = 355 x 8 = 405 x 9 = 456 x 0 = 06 x 1 = 66 x 2 = 126 x 3 = 186 x 4 = 246 x 5 = 306 x 6 = 366 x 7 = 426 x 8 = 486 x 9 = 547 x 0 = 07 x 1 = 77 x 2 = 147 x 3 = 217 x 4 = 287 x 5 = 357 x 6 = 427 x 7 = 497 x 8 = 567 x 9 = 638 x 0 = 08 x 1 = 88 x 2 = 168 x 3 = 248 x 4 = 328 x 5 = 408 x 6 = 488 x 7 = 568 x 8 = 648 x 9 = 729 x 0 = 09 x 1 = 99 x 2 = 189 x 3 = 279 x 4 = 369 x 5 = 459 x 6 = 549 x 7 = 639 x 8 = 729 x 9 = 81

In [27]:
# 8. Write a C program to display the n terms of odd natural numbers and their sum.
sum = 0
for i in range (10):
    if i%2 != 0:
        sum+=i
        print(i)
print(sum)

1
3
5
7
9
25

In [4]:
"""4. Write a Python program to construct the following pattern, using a nested for loop.

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
"""

n= 5 
for i in range (1,n+1):      # upper half pattrn 
    for  j in range(i):
        print('*' , end = ' ')
    print()
for i in range (n-1,0,-1):  # lower half pattern , negative step value (-1 in this case) means that the sequence will decrease by 1 with each iteration.
    for j in range(i):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
# 5. Write a Python program that accepts a word from the user and reverses it.

a= 'harshali'

reverse_word = a[::-1]
print(reverse_word)

ilahsrah

In [10]:
a = 'harshali'
reversed_word = ''
for i in range(len(a)-1,-1,-1):
    reversed_word +=a[i]
print(reversed_word)

ilahsrah

In [11]:
a = 'harshali'
reversed_word = ''
i = len(a)-1     # Start from the last character of the word
while i >=0:
    reversed_word += a[i]
    i-=1          # Move to the previous character
print(reversed_word)

ilahsrah

In [14]:
# . Write a Python program to count the number of even and odd numbers in a series of numbers

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
# Initialize counters for even and odd numbers
even_count = 0
odd_count = 0

# Iterate through the numbers and count even and odd numbers
for number in numbers:
    if number % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

# Print the counts
print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Number of even numbers: 4
Number of odd numbers: 5

In [15]:
#7. Write a Python program that prints each item and its corresponding type from the following list.
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

for i in datalist:
    print(i , type(i))

1452 <class 'int'>
11.23 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
w3resource <class 'str'>
(0, -1) <class 'tuple'>
[5, 12] <class 'list'>
{'class': 'V', 'section': 'A'} <class 'dict'>

In [29]:
#8. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6

for number in range(7):
    if number == 3 or number == 6:
        continue                    # Skip printing 3 and 6
    print(number)

0
1
2
4
5

In [30]:
#9. Write a Python program to get the Fibonacci series between 0 and 5

# Initialize variables for the first two Fibonacci numbers
a, b = 0, 1

# Print the first Fibonacci number (0)
print(a)

# Generate and print the Fibonacci series up to 5
while b <= 5:
    print(b)
    a, b = b, a + b

0
1
1
2
3
5

In [32]:
#10. Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".

for i in range(1,51):
    if i%3 == 0:
        print('fizz')
    if i%5 == 0:
        print('buzz')
    if i%3 == 0 and i%5 ==0 :
        print('FizzBuzz')
    else:
        print(i)

1
2
fizz
3
4
buzz
5
fizz
6
7
8
fizz
9
buzz
10
11
fizz
12
13
14
fizz
buzz
FizzBuzz
16
17
fizz
18
19
buzz
20
fizz
21
22
23
fizz
24
buzz
25
26
fizz
27
28
29
fizz
buzz
FizzBuzz
31
32
fizz
33
34
buzz
35
fizz
36
37
38
fizz
39
buzz
40
41
fizz
42
43
44
fizz
buzz
FizzBuzz
46
47
fizz
48
49
buzz
50

In [37]:
# 11. Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.


# Input the number of rows and columns
m = int(input("Enter the number of rows: "))
n = int(input("Enter the number of columns: "))

# Initialize a two-dimensional array
result = []

# Fill the array with values based on the product of row and column indices
for i in range(m):
    row = []  # Initialize an empty row
    for j in range(n):
        row.append(i * j)  # Calculate the value for the current element and add it to the row
    result.append(row)  # Add the row to the result array
for row in result:
    print(row)

Enter the number of rows: 2
Enter the number of columns: 3
[0, 0, 0]
[0, 1, 2]

In [2]:
# 12. Write a Python program that accepts a sequence of lines (blank line to terminate) as input and prints the lines as output (all characters in lower case).
lines = []

# Input lines until a blank line is encountered
while True:
    line = input(  )
    
    # Check if the line is blank (empty)
    if not line:
        break
    
    # Append the line to the list of lines
    lines.append(line)

# Convert lines to lowercase and print them
for line in lines:
    print(line.lower())

Python

python

In [41]:
# Write a C program to make such a pattern as a pyramid with an asterisk.

   * 
  * * 
 * * * 
* * * *

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [ ]:
# 13

In [3]:
#14. Write a Python program that accepts a string and calculates the number of digits and letters.

A= input('entre string: ')
letter_count = 0
digit_count = 0

for i in A:
    if i.isalpha():
        letter_count+=1
    elif i.isdigit():
        digit_count += 1
print("Number of letters:", letter_count)
print("Number of digits:", digit_count)

entre string: Python 0.8
Number of letters: 6
Number of digits: 2

In [4]:
"""15. Write a Python program to check the validity of passwords input by users.
Validation :

At least 1 letter between [a-z] and 1 letter between [A-Z].
At least 1 number between [0-9].
At least 1 character from [$#@].
Minimum length 6 characters.
Maximum length 16 characters."""


import re
p= input("Input your password")
x = True
while x:  
    if (len(p)<6 or len(p)>12):
        break
    elif not re.search("[a-z]",p):
        break
    elif not re.search("[0-9]",p):
        break
    elif not re.search("[A-Z]",p):
        break
    elif not re.search("[$#@]",p):
        break
    elif re.search("\s",p):
        break
    else:
        print("Valid Password")
        x=False
        break

if x:
    print("Not a Valid Password")

    
"""We initially set x to True.

Inside the loop, we use not with the re.search conditions to check if the password doesn't meet each criterion. If any of these conditions are met (indicating that the password is invalid), the program breaks out of the loop and prints "Invalid Password."

If none of the conditions are met, it means that the password meets all the validation criteria. In this case, the program prints "Valid Password" and sets x to False to exit the loop.

After exiting the loop, the program checks the x flag. If it's still True, it prints "Invalid Password," indicating that the password did not meet the criteria.

This corrected program will print "Valid Password" when the password is valid and "Invalid Password" when it's not."""

Input your passwordhaEdd4#
Valid Password

In [10]:
import re 

p = input('entre password: ')
x = True
while x:
    if len(p)<6 and len(p)>12:
        break
    elif not re.search('[a-z]',p):
        break
    elif not re.search('[0-9]',p):
        break
    elif not re.search('[A-Z]',p):
        break
    elif not re.search('[@#$]',p):
        break
    else:
        print('valid Password')
        x = False
        break
if x:
    print('invalid password')

entre password: Harshali@2002
valid Password

In [16]:
# 16. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence

even_digit = []
for i in range(100,401):
    string = str(i)
    if all (digit in '02468' for digit in string):
        even_digit .append(string)
result = ','.join(even_digit)

print(result)

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [14]:
# Initialize an empty list to store the numbers that meet the criteria
even_digit_numbers = []

# Iterate through numbers from 100 to 400
for number in range(100, 401):
    # Convert the number to a string to examine each digit
    number_str = str(number)
    
    # Check if all digits are even (0, 2, 4, 6, or 8)
    if all(digit in '02468' for digit in number_str):
        even_digit_numbers.append(str(number))

# Join the numbers in the list into a comma-separated string
result = ', '.join(even_digit_numbers)

# Print the result
print("Numbers with all even digits between 100 and 400 (inclusive):", result)

Numbers with all even digits between 100 and 400 (inclusive): 200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288, 400

In [24]:
#32. Write a Python program to check whether an alphabet is a vowel or consonant.

A = input('entre alphabet :')
for i in A:
    if A in '[aeiou]'or A in '[AEIOU]':
        print(i,'is vowel')
    else:
        print(i , 'is consont')

entre alphabet :H
H is consont

In [26]:
#33. Write a Python program to convert a month name to a number of days.

print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")

month_name = input('entre month:')

if month_name == 'February':
    print('no of days : 28/29 days')
elif month_name in ("April", "June", "September", "November"):
    print('no of days : 30 days')
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
    print('no of days : 31 days')
else:
    print('wrong month name')

List of months: January, February, March, April, May, June, July, August, September, October, November, December
entre month:May
no of days : 31 days

In [5]:
# Write a Python program to sum two integers. However, if the sum is between 15 and 20 it will return 20.

A = int(input ('entre number: '))
B = int(input ('entre number: '))

sum = A+B
if sum in range(15,20):
    print(20)
else:
    print(sum)

entre number: 12
entre number: 5
20

In [5]:
"""# 36. Write a Python program to check if a triangle is equilateral, isosceles or scalene.
Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides."""

A = int(input ('entre number: '))
B = int(input ('entre number: '))
C = int(input ('entre number: '))

if A==B or B==C or C==A :
    print('isosceles triangle')
elif A==B==C:
    print(' equilateral triangle ')
elif A != B!=C :
    print('scalene triangle ')

entre number: 2
entre number: 4
entre number: 7
scalene triangle

In [6]:
#37. Write a Python program that reads two integers representing a month and day and prints the season for that month and day.

month = input("Input the month (e.g. January, February etc.): ")
day = int(input("Input the day: "))

if month in ('January', 'February', 'March'):
    season = 'winter'
elif month in ('April', 'May', 'June'):
    season = 'spring'
elif month in ('July', 'August', 'September'):
    season = 'summer'
else:
    season = 'autumn'

if (month == 'March') and (day > 19):
    season = 'spring'
elif (month == 'June') and (day > 20):
    season = 'summer'
elif (month == 'September') and (day > 21):
    season = 'autumn'
elif (month == 'December') and (day > 20):
    season = 'winter'

print("Season is",season)

Input the month (e.g. January, February etc.): january
Input the day: 20
Season is autumn

In [ ]:
# Write a Python program to display the astrological sign for a given date of birth.


day = int(input("Input birthday: "))
month = input("Input month of birth (e.g. march, july etc): ")
if month == 'december':
	astro_sign = 'Sagittarius' if (day < 22) else 'capricorn'
elif month == 'january':
	astro_sign = 'Capricorn' if (day < 20) else 'aquarius'
elif month == 'february':
	astro_sign = 'Aquarius' if (day < 19) else 'pisces'
elif month == 'march':
	astro_sign = 'Pisces' if (day < 21) else 'aries'
elif month == 'april':
	astro_sign = 'Aries' if (day < 20) else 'taurus'
elif month == 'may':
	astro_sign = 'Taurus' if (day < 21) else 'gemini'
elif month == 'june':
	astro_sign = 'Gemini' if (day < 21) else 'cancer'
elif month == 'july':
	astro_sign = 'Cancer' if (day < 23) else 'leo'
elif month == 'august':
	astro_sign = 'Leo' if (day < 23) else 'virgo'
elif month == 'september':
	astro_sign = 'Virgo' if (day < 23) else 'libra'
elif month == 'october':
	astro_sign = 'Libra' if (day < 23) else 'scorpio'
elif month == 'november':
	astro_sign = 'scorpio' if (day < 22) else 'sagittarius'
print("Your Astrological sign is :",astro_sign)

In [ ]:
 # Write a Python program to find the median of three values

In [81]:
"""4. Write a Python program to construct the following pattern, using a nested for loop.

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
"""

n= 5 
for row in range (1,n+1):      # upper half pattrn 
    for  column in range(row):
        print('*' , end = ' ')
    print()
for row in range (n-1,0,-1):  # lower half pattern , negative step value (-1 in this case) means that the sequence will decrease by 1 with each iteration.
    for j in range(i):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [28]:
#Write a Python program to print the alphabet pattern 'A'.

result_str = "";                      # "" yat space thevlyavr pattrn change hota
for row in range (0,7):
    for column in range (0,7):
        if (((column ==1 or column==5)and row !=0) or ((row == 0 or row ==3)and (column >1 and column<5))):
            result_str=result_str+"*"    
        else :
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [32]:
#18. Write a Python program to print the alphabet pattern 'D'.

result_str="";      # "" yat space thevlyavr pattrn change hota
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or ((row == 0 or row == 6) and (column > 1 and column < 5)) or (column == 5 and row != 0 and row != 6)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

In [36]:
result_str = ""
for row in range(0,7):
    for column in range(0,7):
        if (column == 1 or ((row ==0 or row ==6)and (column >1 and column <5)) or(column == 5 and row != 0 and row != 6)):
            result_str = result_str + '*'
        else:
            result_str = result_str +' '
    result_str = result_str +"\n"
print(result_str);

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

In [40]:
#. Write a Python program to print the alphabet pattern 'E

result_str = ""
for row in range(0,7):
    for column in range(0,7):
        if (column == 0 or (row ==0 or row ==3 or row ==6)):
            result_str = result_str + '*'
        else:
            result_str = result_str +' '
    result_str = result_str +"\n"
print(result_str);

*******
*
*
*******
*
*
*******

In [43]:
#20. Write a Python program to print the alphabet pattern 'H'.

result_str = ''
for row in range (0,7):
    for column in range(0,7):
        if ((column == 0 or column ==6 )or  (row ==3)):
            result_str = result_str +'*'
        else:
            result_str = result_str +' '
    result_str = result_str +'\n'
print(result_str)

*     *
*     *
*     *
*******
*     *
*     *
*     *

In [44]:
#21. Write a Python program to print the alphabet pattern 'L'.

result_str = ''
for row in range(0,7):
    for column in range (0,7):
        if (column == 0 or row ==6):
            result_str = result_str + '*'
        else :
            result_str = result_str + ' '
    result_str = result_str + '\n'
print(result_str)

*
*
*
*
*
*
*******

In [47]:
#22. Write a Python program to print the alphabet pattern 'M'.

result_str = ""
for row in range(0,7):
    for column in range(0,7):
        if((column ==0 or column==6)or((column==1 or column ==5)and (row ==1 ))or((column==2 or column ==4)and (row ==2 ))or(column ==3 and row ==3)):
            result_str = result_str + '*'
        else:
            result_str = result_str +' '
    result_str = result_str + '\n'
print(result_str)

*     *
**   **
* * * *
*  *  *
*     *
*     *
*     *

In [52]:
#23. Write a Python program to print the alphabet pattern 'O'.

result_str = ''
for row in range(0,7):
    for column in range(0,7):
        if (((column == 1 or column == 5) and row != 0 and row != 6) or ((row == 0 or row == 6) and column > 1 and column < 5)):  
            result_str = result_str + '*'
        else:
            result_str = result_str + ' '
    result_str = result_str + '\n'
print(result_str)

  ***
 *   *
 *   *
 *   *
 *   *
 *   *
  ***

In [54]:
# Write a Python program to print the alphabet pattern 'P'.

result_str = ''
for row in range(0,6):
    for column in range(0,6):
        if ((column ==0) or ((row==0 or row ==3)and column !=5) or ((column ==5 ) and (row ==1 or row==2))):
            result_str = result_str + "*"
        else:
            result_str = result_str + " "
    result_str = result_str +'\n'
print(result_str)

*****
*    *
*    *
*****
*
*

In [56]:
#25. Write a Python program to print the alphabet pattern 'R'.
result_str = ''
for row in range(0,6):
    for column in range(0,6):
        if ((column ==0) or ((row==0 or row ==3)and column !=5) or ((column ==5 ) and (row ==1 or row==2))or ((column ==1)and row ==4)) or ((column==2) and row ==5) or ((column==3)and row==6):
            result_str = result_str + "*"
        else:
            result_str = result_str + " "
    result_str = result_str +'\n'
print(result_str)

*****
*    *
*    *
*****
**
* *

In [60]:
#Write a Python program to print the following patterns.


result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((row == 0 or row == 3 or row == 6) and column > 1 and column < 5) or (column == 1 and (row == 1 or row == 2 or row == 6)) or (column == 5 and (row == 0 or row == 4 or row == 5))):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ****
 *
 *
  ***
     *
     *
 ****

In [65]:
#27. Write a Python program to print the alphabet pattern 'T'.

result_str="";      # "" yat space thevlyavr pattrn change hota
for row in range(0,8):    
    for column in range(0,8):     
        if( (row ==0)or (column==4)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

********
    *
    *
    *
    *
    *
    *
    *

In [77]:
#  Write a Python program to print the alphabet pattern 'U'.

result_str="";      # "" yat space thevlyavr pattrn change hota
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 6) or (row == 6 and column > 1 and column < 5)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 *   *
 *   *
 *   *
 *   *
 *   *
 *   *
  ***

In [80]:
#29. Write a Python program to print the alphabet pattern 'X'.

result_str=""     # "" yat space thevlyavr pattrn change hota
for row in range(0,7):    
    for column in range(0,7):     
        if (((row == 0 or row == 6) and column >= 0 and column <= 6) or row+column==6):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

*******
     *
    *
   *
  *
 *
*******

In [84]:
# Write a Python program to create the multiplication table (from 1 to 10) of a number.

for i in range ( 1,12):
    result = 6*i
    print('6','x',i ,'=',result)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66

In [85]:
for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [1]:
def num(n):
    num = 1
    for i in range(0, n):
        num = 1
        for j in range(0, i+1):
            print(num, end=" ")
            num = num + 1
        print("\r")
n = 5
num(n)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
def num(n):
    num = 1
    for i in range(0, n):
        for j in range(0, i+1):
            print(num, end=" ")
            num = num + 1
        print("\r")
n = 5
num(n)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [3]:
def alphapat(n):
    num = 65
    for i in range(0, n):
        for j in range(0, i+1):
            ch = chr(num)
            print(ch, end=" ")
        num = num + 1
    
        print("\r")
n = 5
alphapat(n)

A
B B
C C C
D D D D
E E E E E

In [4]:
def contalpha(n):
    num = 65
    for i in range(0, n):
        for j in range(0, i+1):
            ch = chr(num)
            print(ch, end=" ")
            num = num + 1
        print()
n = 5
contalpha(n)

A
B C
D E F
G H I J
K L M N O